body {
    margin: 0;
}

header {
    background-color: black;
    color: white;
}

.nav-name {
    font-size: 1.5rem;
}

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.menu ul li a:hover {
    color: tomato;
}

.f-red {
    color: tomato;
    font-size: 1.5rem;
}

.top-banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-banner div {
    width: 45%;
    margin: 5%;
}

.top-banner img {
    width: 100%;
    animation: bodyimg 1.2s linear 0.3s 1 normal;
}

@keyframes bodyimg {
    from {
        transform: translate(300px);
    }

    to {
        transform: translate(0);
    }
}

.top-banner h1 {
    font-size: 4rem;
}

.plans {
    text-align: center;
    margin: 50px;
}

.plans h1 {
    font-size: 2.5rem;
}

.plan-cards {

    display: flex;
    justify-content: center;
}

.plan-cards div {
    width: 200px;
    margin: 50px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.5s;
}

.plan-cards div img {
    width: 50%;
}

.plan-cards div:hover {
    background-color: tomato;
    color: white;
    border-color: white;
    margin-top: -20px;
    transition: 0.5s;
}

.about {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

.about h1 {
    font-size: 3rem;
}

.about section {
    width: 40%;
    margin: 2%;
}

.about-img {
    display: flex;
}

.about-img img {
    transform: skewY(-20deg);
    margin: 5%;
    width: 45%;
}